.list-register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  color: #29abe2;
}

.table-container {
  padding: 20px;
  width: 200px;
  height: 82vh;
  display: flex;
}

table {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  border-collapse: collapse;
  border-spacing: 0;
  border-radius: 12px 12px 0 0;
}

td , th{
  padding: 15px 20px;
  text-align: center;
  border-left: 1px solid #29abe2;
  border-bottom: 1px solid #29abe2;
 }
 th{
  color: #012d51;
  font-family: 'Open Sans',Sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  font-weight: bold;
 }

 td{
  height: 10px;
 }

 tr{
  width: 100%;
  background-color: #fafafa;
  font-family: 'Montserrat', sans-serif;
 }
 tr:nth-child(even){
  background-color: #eeeeee;
 }